/* You can add global styles to this file, and also import other style files */
:root {
  //--primaryColor: rgb(45, 49, 63);
  --darkBackground: #121212;
  --primaryColor: #3f6ac2;
  --highlightColor: #6ccce4;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

a {
  outline: 0;
}

body {
  background-color: #121212;
  color: whitesmoke;
}

.content-panel {
  background-color: #121212;
  border: var(--primaryColor) 3px solid;
  border-radius: 15px;
  padding: 15px;
}

.fade-in {
  animation: fadeIn linear 0.4s;
}
