nav {
  background-color: var(--darkBackground);
  border: var(--primaryColor) 5px solid;
  border-radius: 20px;
  margin: 15px 0px;
}

.container-fluid {
  width: 100%;
}

.navbar-brand {
  text-align: center;
  color: var(--primaryColor);
}

.navbar-brand > h2 {
  font-weight: bolder;
}

.nav-link {
  padding: 5px;
  margin: 10px;
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 20px;
  transition: 0.35s;
}

.nav-link:hover {
  color: var(--highlightColor);
}

.active {
  color: var(--highlightColor);
}
